<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Single page application</title>
  <script src="/js/angular.min.js"></script>
  <script src="/js/jquery-2.2.4.min.js"></script>
  <script src="/js/recordsApp.js"></script>
  <link rel="stylesheet" type="text/css" href="/css/recordsApp.css" media="screen"/>
</head>
<body>

<div ng-app="recordsApp">
  <div ng-controller="RecordsCtrl" data-ng-init="loadRecords()">

    <div>Sort: {{sortField}} {{sortDirection}}</div> <button ng-click="changeFilter()">Apply filters</button>
    <table>
      <thead>
      <tr>
        <th><a ng-click="changeSort('ID')">Id</a></th>
        <th><a ng-click="changeSort('NAME')">Name</a></th>
        <th><a ng-click="changeSort('DATE')">Date</a></th>
      </tr>
      <tr>
        <th><input type="text" ng-model="idFilter"></th>
        <th><input type="text" ng-model="nameFilter"></th>
        <th><input type="text" ng-model="dateFilter"></th>
      </tr>
      </thead>
      <tbody>
      <tr ng-repeat="record in records">
        <td>{{record.id}}</td>
        <td>{{record.name}}</td>
        <td>{{record.date | date:'medium'}}</td>
      </tr>
      </tbody>
    </table>
    <div class="wrapper">
      <button ng-click="loadRecords()">More...</button>
    </div>
  </div>
</div>

</body>
</html>