<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Single page application</title>
  <script src="/js/angular.min.js"></script>
  <script src="/js/jquery-2.2.4.min.js"></script>
  <script src="/js/recordsApp.js"></script>
  <link rel="stylesheet" type="text/css" href="/css/recordsApp.css" media="screen"/>
</head>
<body>

<div ng-app="recordsApp">
  <div ng-controller="RecordsCtrl" data-ng-init="reload()">

    <div>Sort: {{sort.sortField}} {{sort.sortDirection}}<br/>
      Count: {{records.count}}
    </div> <button ng-click="changeFilter()">Apply filters</button>
    <table>
      <thead>
      <tr>
        <th><a ng-click="changeSort('ID')">Id</a></th>
        <th><a ng-click="changeSort('NUMBER')">Number</a></th>
        <th><a ng-click="changeSort('DATE')">Date</a></th>
        <th><a ng-click="changeSort('AMOUNT')">Amount</a></th>
        <th>List</a></th>
      </tr>
      <tr>
        <th><input type="text" ng-model="filter.id"></th>
        <th><input type="text" ng-model="filter.number"></th>
        <th>
          <!--<input type="text" ng-model="filter.date">-->
        </th>
        <th>&lt;=<input type="text" ng-model="filter.amount"></th>
        <th></th>
      </tr>
      </thead>
      <tbody>
      <tr ng-repeat="record in records">
        <td>{{record.id}}</td>
        <td>{{record.number}}</td>
        <td>{{record.date | date:'medium'}}</td>
        <td>{{record.amount}}</td>
        <td>{{record.list}}</td>
      </tr>
      </tbody>
    </table>
    <div class="wrapper">
      <button ng-click="loadRecords()">More...</button>
    </div>
  </div>
</div>

</body>
</html>